body{
    background: linear-gradient(#fffacd,#e6e6fa);
    font-family: MS PGothic,sans-serif;
    text-align: center;
}

h1{
    margin-top: 20px;
}

#text{
    margin: 100px auto 20px;
    font-size: 24px;
    border: 3px dotted #999;
    display: inline-block;
    padding: 20px;
    background-color: #ffffff;
    user-select: none;
}

#secret{
    margin-top: 40px;
    font-size: 14px;
    color: #ff69b4;
    opacity: 0;
    transition: opacity 0.5s;
}

button{
    margin-top: 20px;
}

.box{
    margin-top: 40px;
}

select {
    font-family: MS PGothic,sans-serif;
    padding: 4px;
}

.small{
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}
